# Ports
## Environment
ENV_API_GATEWAY_HOST=http://127.0.0.1
ENV_API_GATEWAY_PORT=8050

## Microservices
ENV_USERS_SERVICE_PORT=8001
ENV_TASKS_SERVICE_PORT=8002
ENV_PROJECTS_SERVICE_PORT=8003
ENV_ANALYTICS_SERVICE_PORT=8004

#EUREKA
ENV_EUREKA_SERVER_HOST=http://eureka-server:8761/eureka/
ENV_EUREKA_SERVER_PORT=8761

ENV_EUREKA_USERS_SERVICE_URL=http://ktor-user-service:8001
ENV_EUREKA_TASKS_SERVICE_URL=http://ktor-task-service:8002
ENV_EUREKA_PROJECTS_SERVICE_URL=http://ktor-project-service:8003
ENV_EUREKA_ANALYTICS_SERVICE_URL=http://ktor-analytics-service:8004

# PostgreSQL
ENV_APP_POSTGRESQL_HOST=jdbc:postgresql://postgres:5432

ENV_APP_POSTGRESQL_USER=postgres
ENV_APP_POSTGRESQL_PASSWORD=postgres

## PostgreSQL database name
ENV_PROJECTS_SERVICE_DATABASE=projects_db
ENV_TASKS_SERVICE_DATABASE=tasks_db
ENV_USERS_SERVICE_DATABASE=users_db
ENV_ANALYTICS_SERVICE_DATABASE=analytics_db

#Kafka
ENV_KAFKA_URL=kafka:9092